@font-face {
  font-family: 'Montserrat';
  src: url('../../../static/fonts/Montserrat-Light.woff') format('woff'),
    url('../../../static/fonts/Montserrat-Light.woff2') format('woff2');
  font-display: 'swap';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../static/fonts/Montserrat-Regular.woff') format('woff'),
    url('../../../static/fonts/Montserrat-Regular.woff2') format('woff2');
  font-display: 'swap';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../static/fonts/Montserrat-Bold.woff') format('woff'),
    url('../../../static/fonts/Montserrat-Bold.woff2') format('woff2');
  font-display: 'swap';
  font-style: normal;
  font-weight: 700;
}
